<main>
    <div class="hero">
        <div class="container">
            <div class="left">
                <h1 class="h1">
                    Hi, I'm <b>Dương&nbsp;Thanh&nbsp;Phong</b>.
                    <br>Web Developer
                </h1>
                <p class="h3">
                    Specialized in Web Development and Building Apps
                </p>
                <div>
                    <a href="/contact" class="btn btn-primary">Contact Me</a>
                    <a href="/about" class="btn btn-secondary">About Me</a>
                </div>
            </div>
            <div class="right">
                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img src="/img/thanhphong.jpg" alt="Dương Thanh Phong" class="hero-img">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="blog">
                <h2 class="h2">Latest Blog Post</h2>
                <div class="blog-card-group">
                    <div class="blog-card">
                        <div class="blog-content-wrapper">
                            <button class="blog-topic text-tiny">WebDev</button>
                            <h3>
                                <a href="#" class="h3">
                                    Bắt đầu với Node.js và Express
                                </a>
                            </h3>
                            <div class="wrapper">
                                <a href="#" class="h4">Dương Thanh Phong</a>
                                <p class="text-sm">
                                    <time datetime="2024-01-01">Monday, 01-01-2024</time>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
